*.user
src/VkCore/Properties/launchSettings.json
src/CityExplorer/VkTypes/widlBinder.js
src/CityExplorer/VkTypes/widlBinder.cpp
src/CityExplorer/VkTypes/parser.out
src/CityExplorer/VkTypes/WebIDLGrammar.pkl
src/CityExplorer/VkTypes/VkTypes.wasm
src/CityExplorer/VkTypes/VkTypes.js
src/CityExplorer/VkTypes/VkTypes.html
